<div class="form-horizontal">

    <div class="form-group">
        <input type="button" value="Mecze" onclick="location.href='@Url.Action("Index", "Mecze")'" />
        <input type="button" value="Zawodnicy" onclick="location.href='@Url.Action("Index", "Zawodnik")'" />
        <input type="button" value="Druzyny" onclick="location.href='@Url.Action("Index", "Druzyna")'" />
    </div>

</div>